@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    font-family: "Lexend", sans-serif;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-black-100 {
    color: #2D384C;
  }

  .border-gray {
    border-color: rgba(237, 237, 237, 1);
  }

  .bg-gray-200 {
    background-color: rgba(237, 237, 237, 1);
  }

  .shadow-500 {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }

  .border-gray-300 {
    border-color: rgba(229, 231, 235, 1);
  }

  .grid-cols-5fr {
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  }

  .border-gray-500 {
    border-color: rgba(203, 213, 225, 1);
  }

  .bg-gray-slate {
    background-color: rgba(248, 250, 252, 1);
  }
}

.css-13cymwt-control {
  border-color: rgba(203, 213, 225, 1);
}

.css-13cymwt-control:hover {
  border-color: rgba(203, 213, 225, 1) !important;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1jqq78o-placeholder {
  color: #CBD5E1 !important;
}

.loader {
  width: 18px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
  margin: 0 auto;
}

.loader,
.loader:before,
.loader:after {
  background:
    radial-gradient(closest-side at 50% 12.5%,
      #ffff 96%, #0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
      #ffff 96%, #0000) 0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}

.job-apply .css-13cymwt-control {
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;

}

.job-apply .css-t3ipsp-control {
  box-shadow: none !important;
  border: none !important;
  width: 100% !important;
}

.job-apply .css-1fdsijx-ValueContainer {
  padding: 0 0 0 16px !important;
}

.hover-blue:focus {
  box-shadow: 0 0 0 1px #2684FF;
  border-radius: 4px;
}


@keyframes l26 {
  100% {
    transform: rotate(1turn)
  }
}



@media (min-width: 640px) {
  .sm-h-5rem {
    height: calc(100vh - 5rem);
  }
}

.flexx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pagination {
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin: 2rem 0; */
  gap: 6px;
}

.pagination li a.active,
.pagination li a.active:hover {
  background-color: #2563EB;
  color: #fff;
}

.pagination li a:hover {
  background-color: #e4eef8;
}

.paginatior-row {
  border-radius: 8.4px;
  border: solid 0px #e7eaee;
  background: transparent;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.paginatior-row a {
  width: 36px;
  height: 29px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  color: #888;
  font-size: 15px;
}

.paginatior-row a:hover {
  width: 36px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
}

/* .paginations__link--disabled:last-child a {
transform: rotate(180deg);
}  */

.pagination {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 6px;
}

.pagination li a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
  color: #828ea5;
  cursor: pointer;
}

.pagination-new-anchor {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
  color: #828ea5;
  cursor: pointer;
}

.pagination-new-anchor li a:hover {
  width: 42px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4eef8;
}

.pagination .pagination-new-active a {
  background-color: #2563EB !important;
  color: #fff;
  pointer-events: none;
}

.pagination .pagination-new-anchor a:hover {
  background-color: #e4eef8;
}

.pagination li a:hover {
  background-color: #e4eef8;
}

.paginatior-row a.active {
  background-color: #213847;
  color: #fff;
}

.pagination .pagination-new-anchor a:last-child {
  border-right: 0;
  /* transform: rotate(180deg); */
}